{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    {% if form.errors %}
        <p class="log-err">username or password is wrong</p>
    {% endif %}
    <form method="post">{% csrf_token %}
      <div class="user-box">
          {{ form.username }}
          <label>Username</label>
      </div>
      <div class="user-box">
          {{ form.password }}
          <label >Password</label>
      </div>
      <div class="reset-txt">
        <a href="{% url 'password_reset' %}">Forgot password?</a>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="hidden" name="next" value="{{ next }}">
        <input class="login-btn" type="submit" value="Login">
      </a>
    </form>
  </div>
</body>
</html>