{% load i18n %}{% autoescape off %}
{% blocktranslate %} درخواستی برای بازیابی رمز عبور از این ایمیل ارسال شد، در سایت: {{ site_name }}.{% endblocktranslate %}

{% translate "برای ادامه عملیات بازیابی رمزعبور به روی این لینک کلیک کنید:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'نام کاربری شما:' %} {{ user.get_username }}

{% translate "با تشکر که از سایت ما دیدن کردید" %}

{% blocktranslate %} از طرف وبسایت:{{ site_name }}{% endblocktranslate %}

{% endautoescape %}
