{% extends "_base.html" %}

{% load widget_tweaks %}

{% block title %}Reset password confirm{% endblock %}

{% block content %}
{% if validlink %}
<div class="wrapper">
    <form class="form-signin" method="post">{% csrf_token %}       
      <h2 class="form-signin-heading">reset password</h2>
      {{ form.new_password1|add_class:'form-control'|add_class:'old-input'|attr:'placeholder:New password' }}
      {{ form.new_password2|add_class:'form-control'|add_class:'pass-input'|attr:'placeholder:Repeat-password' }}
      <button class="btn-pass" type="submit">save</button>   
    </form>
</div>
{% else %}
<div class="ch-done">
    <h1>Invalid Link</h1>
    <p>The password reset link was invalid, please request a new password reset</p>
</div>
{% endif %}
{% endblock %}