{% extends "_base.html" %}

{% load widget_tweaks %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class="wrapper">
    <form class="form-signin" method="post">{% csrf_token %}       
      <h2 class="form-signin-heading">Change your password</h2>
      {{ form.old_password|add_class:'form-control'|add_class:'old-input'|attr:'placeholder:old-password' }}
      {{ form.new_password1|add_class:'form-control'|attr:'placeholder:new- password' }}
      {{ form.new_password2|add_class:'form-control'|add_class:'pass-input'|attr:'placeholder:repeat new-password' }}    
      <button class="btn-pass" type="submit">Change</button>   
    </form>
</div>
{% endblock %}
